.fondo
{
	background-image: url(fondo.jpg);
	background-repeat: no-repeat;
	max-width: 100vw;
	min-height: 100vh;
}
.derecha
{
	position: relative;
	border-radius: 5px;
	box-shadow: 5px 5px black;
	width: auto;
	height: auto;
	background-color: yellowgreen;
	color: black;
	display: flex;
	justify-content: flex-end;
}
.izquierda
{
	position: relative;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 5px 5px black;
	width: auto;
	height: auto;
	background: white;
	color: black;
	display: flex;
	justify-content: flex-start;
}
