.fondo
{
	background-image: url(fondo.jpg);
	background-repeat: no-repeat;
	backgroun-color: blue;
	max-width: 100vw;
	min-height: 100vh;
	display: flex;

}
.derecha
{
	padding: 5px;
	border-radius: 5px;
	box-shadow: 5px 5px black;
	width: auto;
	height: auto;
	background-color: yellowgreen;
	justify-content: right;
	color: black;
}
.izquierda
{
	padding: 5px;
	border-radius: 5px;
	box-shadow: 5px 5px black;
	width: auto;
	height: auto;
	background: white;
	color: black;
	justify-content: left;
}
