.fondo
{
	background-image: url(fondo.jpg);
	max-width: 100vw;
	min-height: 100vh;
	display: flex;

}
.derecha
{
	color: green;
	align-items: flex-end;
}
.izquierda
{
	color: red;
	align-items: flex-start;
}
